@model FeelingGoodApp.Data.Models.Nutrition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details about your logged meal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nf_calories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nf_calories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
