@model FeelingGoodApp.Models.NutritionViewModel

@{
    ViewData["Title"] = "Search";
    //Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h1>Search</h1>
<div>
    <h4>NutritionViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.item_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.item_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nf_calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nf_calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
<form asp-action="AddToMeals">
    <div class="form-group">
        <input asp-for="item_name" hidden />
        <input asp-for="nf_calories" hidden />
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" />
        <input type="submit" value="AddToMeals" class="btn btn-primary" />
    </div>
</form>
