@model FeelingGoodApp.Models.NutritionViewModel

@{ ViewData["Title"] = "Search"; }
   
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WELCOME TO FEELING GOOD.</title>
    <style>

        .resize {
            width: 400px;
            height: auto;
            border-radius: 75%;
            float: left
        }

        .resize {
            align-items: center;
            width: 400px;
            height: auto;
        }

        .resize1 {
            width: 400px;
            height: auto;
            border-radius: 75%;
            float: right
        }

        .resize1 {
            align-items: center;
            width: 400px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>You've Added A Meal!</h1>
    <div>
        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.item_name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.item_name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nf_calories)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nf_calories)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
        </dl>
    </div>
    @*<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@
    @*<form asp-action="AddToMeals">
            <div class="form-group">
                <input asp-for="item_name" hidden />
                <input asp-for="nf_calories" hidden />
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" />
                <input type="submit" value="AddToMeals" class="btn btn-primary" />
            </div>
        </form>*@
    <p>
        <a asp-action="Index">Add Another?</a>
    </p>
</body>
<div>
    <a asp-controller="Exercise" asp-action="GetExercise"><img class="resize" src="~/css/images/anastase-maragos-9dzWZQWZMdE-unsplash.jpg" /></a>
</div>
<div>
    <a asp-controller="Nutrition" asp-action="AddFood"><img class="resize1" src="~/css/images/mor-shani-li4dxZ0KYRw-unsplash.jpg" /></a>
</div>
<div>
    <a asp-controller="Places" asp-action="SearchPlaces"><img class="resize" src="~/css/images/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg" /></a>
</div>
<div>
    <a asp-controller="Home" asp-action="AboutUs"><img class="resize1" src="~/css/images/meghan-holmes-wy_L8W0zcpI-unsplash.jpg" /></a>
</div>
<br />