@model IEnumerable<FeelingGoodApp.Data.Models.Nutrition>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<body>
    @*style="background-image: ""*@

    <p>
        <a asp-action="AddFood">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Item_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nf_calories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nf_calories)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
