@model FeelingGoodApp.Services.Models.ExerciseInfo

@{
    ViewData["Title"] = "ShowExercise";
}

<h1>ShowExercise</h1>

<div>
    <h4>ExerciseInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_input)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_input)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration_min)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration_min)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Met)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Met)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nf_calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nf_calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        @if (Model.photo.highres != null)
        {
            <dd class="col-sm-10">
                <img src="@Model.photo.highres" />
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                <img src="@Model.photo.thumb" />
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id ="@Model.Id">Edit</a> <br />
    <a asp-action="Index">Back to List</a>
</div>
